<app-header></app-header>
<div class="container mat-drawer-container">

<mat-nav-list>
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Best Practices Workflow</mat-card-title>
    <span class="spacer"></span>
    <mat-icon>assignment_turned_in</mat-icon>
    <mat-card-subtitle>Analysis</mat-card-subtitle>
  </mat-card-header>
</mat-card>

  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>VCF</mat-card-title>
    <span class="spacer"></span>
    <mat-icon>assignment_turned_in</mat-icon>
    <mat-card-subtitle>Export</mat-card-subtitle>
  </mat-card-header>
</mat-card>
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Axel</mat-card-title>
    <span class="spacer"></span>
    <mat-icon>assignment_turned_in</mat-icon>
    <mat-card-subtitle>Export</mat-card-subtitle>
  </mat-card-header>
</mat-card>
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>VCF</mat-card-title>
    <span class="spacer"></span>
    <mat-icon>assignment_turned_in</mat-icon>
    <mat-card-subtitle>Export</mat-card-subtitle>
  </mat-card-header>
</mat-card>
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Blood Typing</mat-card-title>
    <span class="spacer"></span>
    <mat-icon>warning</mat-icon>
    <mat-card-subtitle>Export</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
Lorem ipsum dolor sit amet, etiam regione accumsan duo ea, duis explicari nec id. Vix in illum neglegentur, id ius labitur propriae.
    </p>
  </mat-card-content>  
</mat-card>
  <mat-card class="example-card-error">
  <mat-card-header>
    <mat-card-title>Analysis</mat-card-title>
    <span class="spacer"></span>
    <mat-icon>error</mat-icon>
    <mat-card-subtitle>Best Practices Workflow</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
Mei duis nullam contentiones eu! Te vidit dicam postulant eam, tollit quidam singulis sed ex? Ex nam tempor denique contentiones. Vis principes quaerendum eu, vix in diceret tractatos, minimum vulputate in mea.
    </p>
  </mat-card-content>  
</mat-card>
  <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Analysis</mat-card-title>
    <span class="spacer"></span>
    <mat-icon>video_settings</mat-icon>
    <mat-card-subtitle>Best Practices Workflow</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      message would be here if there was one from the analysis
    </p>
  </mat-card-content>  
</mat-card>
</mat-nav-list>

</div>